# === FRONTEND ===
**/node_modules/
**/dist/
**/.vite/
**/public/build/
*.log

# Ignore environment and config files (optional)
**/.env
**/.env.local

# === BACKEND ===
**/venv/
**/__pycache__/
**/*.pyc

# === macOS System Files ===
.DS_Store






